footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  .go-back{
    background: darkcyan;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 50px;
    letter-spacing: 2px;
    border-radius: 4px;
    &:hover{
      cursor: pointer;
    }
  }
}
