.InputItem{
  font-size: 16px;
  .input-wrap{
    border: 1px solid rgba(128, 130, 128, 0.6);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 30px;
    margin: 0 auto;
    padding: 1px 4px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >input{
      width: 80%;
      border: 0;
      padding: 5px;
      &:focus{
        outline: none;
      }
    }
    .input-clear{
      background: rgba(155, 157, 155, 0.5);
      color: #ffffff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      &:hover{
        cursor: pointer;
        background: rgba(181, 183, 181, 0.5);
      }
    }
  }
}
