.LayoutThree{
  height: 300px;
  width: 100%;
  .absolute-layout{
    position: relative;
    margin-bottom: 50px;
    .left{
      position: absolute;
      left: 0;
      background: green;
      width: 100px;
    }
    .center{
      position: absolute;
      left: 100px;
      right: 100px;
      background: pink;
    }
    .right{
      position: absolute;
      right: 0;
      background: darkgray;
      width: 100px;
    }
  }
  .float-layout{
    margin-bottom: 50px;
    .left{
      width: 100px;
      float: left;
      background: green;
    }
    .center{
      overflow: hidden;
      background: pink;
    }
    .right{
      width: 100px;
      float: right;
      background: darkgray;
    }
  }
  .flex-layout{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    .left{
      background: green;
      flex-basis: 100px;
    }
    .center{
      flex-grow: 1;
      background: pink;
    }
    .right{
      flex-basis: 100px;
      background: darkgray;
    }
  }
  .table-layout{
    display: table;
    width: 100%;
    margin-bottom: 50px;
    .left{
      display: table-cell;
      width: 100px;
      background: green;
    }
    .center{
      width: auto;
      display: table-cell;
      background: pink;
    }
    .right{
      display: table-cell;
      width: 100px;
      background: darkgray;
    }
  }
  .grid-layout{
    display: grid;
    grid-template-columns: 100px auto 100px;
    width: 100%;
    margin-bottom: 50px;
    .left{
      background: green;
    }
    .center{
      background: pink;
    }
    .right{
      background: darkgray;
    }
  }
}
