.wrap{
  color: #FFF;
  background-color: red;

  &.wrap-move-in {
    animation: wrap-show 300 ease-in
  }
  &.wrap-move-out{
    animation: wrap-hide 300 ease-out
  }
}
@keyframes wrap-show {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes wrap-hide {
  from {opacity: 1}
  to {opacity: 0}
}
